{{#if flashSuccess}}
<div class="div alert alert-info">
    {{flashSuccess}}
</div>
{{/if}}

{{#if flashError}}
<div class="div alert alert-danger">
    {{flashError}}
</div>
{{/if}}

{{#if passportSuccess}}
<div class="div alert alert-primary">
    {{passportSuccess}}
</div>
{{/if}}

{{#if passportFailure}}
<div class="div alert alert-danger">
    {{passportFailure}}
</div>
{{/if}}